<!DOCTYPE html>

@{
    string requestUrl = System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName.ToLower() == "ar" ? "rtl" : "ltr";
}
<html lang="@(System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName.ToLower())" dir="@requestUrl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NewsFeed</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/NewsFeed.styles.css" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

</head>
<body>
    <header>
 
       

        <nav class="container navbar navbar-expand-lg navbar-light bg-light">
            <!-- Container wrapper -->
            <div class="container-fluid">
                <!-- Toggle button -->
     

                <!-- Collapsible wrapper -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <!-- Navbar brand -->
                    <a class="navbar-brand mt-2 mt-lg-0" href="#">
                       
                    </a>
                    <!-- Left links -->
                    <ul class="navbar-nav  mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">@_localization.Getkey("dashboard")</a>
                        </li>
                  
                       
                    </ul>
                    <!-- Left links -->
                </div>
                <!-- Collapsible wrapper -->
                <!-- Right elements -->
                <div class="d-flex align-items-center">
                    <!-- Icon -->
                    <a class="text-reset me-3" href="#">
                        <i class="fas fa-shopping-cart"></i>
                    </a>

                    <!-- Notifications -->
                   
                    <!-- Avatar -->
                    <div class="dropdown">
                        <a class="dropdown-toggle d-flex align-items-center hidden-arrow"
                           href="#"
                           id="navbarDropdownMenuAvatar"
                           role="button"
                           data-bs-toggle="dropdown"
                           aria-expanded="false">
                            <img src="https://bootstrapmade.com/demo/templates/iPortfolio/assets/img/profile-img.jpg"
                                 class="rounded-circle"
                                 height="25"
                                 alt="Black and White Portrait of a Man"
                                 loading="lazy" />
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end"
                            aria-labelledby="navbarDropdownMenuAvatar">
                            <li>
                                <a class="dropdown-item" asp-controller="Home" asp-action="ChangeLanguage" asp-route-culture="en-US">English</a>
                            </li>
                            <li>
                                <a class="dropdown-item" asp-controller="Home" asp-action="ChangeLanguage" asp-route-culture="ar-AE">العربية</a>
                            </li>
                            
                        </ul>
                    </div>
@* 

                    <div class="dropdown">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"> Localization </button>

                        <ul class="dropdown-menu">
                            <li>
                                <a asp-controller="Home" asp-action="ChangeLanguage" asp-route-culture="en-US" class="dropdown-item">
                                    <i class="flag-icon flag-icon-gb"></i> English
                                </a>
                            </li>
                            <li>
                                <a asp-controller="Home" asp-action="ChangeLanguage" asp-route-culture="fr-FR" class="dropdown-item">
                                    <i class="flag-icon flag-icon-gb"></i> French
                                </a>
                            </li>
                        </ul>
                    </div> *@
                </div>
                <!-- Right elements -->
            </div>
            <!-- Container wrapper -->
        </nav>
    </header>
    <div class="container text-center bg-light">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="container bg-light text-center text-lg-start">
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            &copy; 2023 - NewsFeed
           
        </div>
        <!-- Copyright -->
    </footer>
  
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
